<article
  *ngIf="isServiceInCart"
  class="w-[95%] h-[100px] md:h-[170px] relative mt-3 flex justify-around mx-auto shadow-md"
>
  <img
    class="h-full w-[100px] md:w-[250px]"
    src="{{ service?.image }}"
    alt=""
  />
  <div class="mx-5 flex flex-col justify-between">
    <p class="text-md md:text-2xl font-bold">
      {{"SERVICE_CARD.Prize" | translate}}:
      {{ service?.price | currency : "EUR" : "symbol" : "2.2-2" : "es" }}
    </p>
    <p class="text-sm md:text-lg">{{ service?.name }}</p>
    <p class="text-xs md:text-lg opacity-70">{{ service?.date | date: 'dd/MM/yyyy' }}</p>
    <p class="text-xs md:text-lg opacity-70">{{ service?.hour}} {{"SERVICE_CARD.Hour" | translate}}</p>
    <p class="text-xs md:text-lg font-bold">{{"SERVICE_CARD.Trainer" | translate}}: {{trainerName?.name}}</p>
    <img
      src="{{ pet?.image }}"
      class="w-10 h-10 md:w-20 md:h-20 absolute rounded-full bottom-2 right-3"
    />
  </div>
  <button
    class="bg-red-600 rounded-full text-white text-sm h-7 w-7"
    *ngIf="service"
    (click)="onRemoveService(service)"
  >
    X
  </button>
</article>
