<section
  class="bg-sienna-50 w-full flex flex-col gap-20 mt-14 min-h-[calc(100vh-(10vh+7vh))]"
>
  <div id="htmlData" class="flex flex-col md:flex-row justify-center md:items-center relative">
	<article
	  class="bg-sienna-100 md:absolute md:right-[50%] flex flex-col items-center justify-center h-[170px] md:h-[550px] md:w-[400px] mx-6 mt-3 rounded-t-xl md:rounded-xl z-20"
	>
	  <figure
		class="shadow-2xl rounded-full overflow-auto my-2 md:my-10 w-[110px] h-[100px] md:h-[200px] md:w-[210px]"
	  >
		<img class="w-full h-full" src="{{ (pet | async)?.image }}" alt="image pet" />
	  </figure>
	  <p class="capitalize text-[25px] md:text-[40px] font-dog">
		{{ (pet | async)?.name }}
	  </p>
	</article>
	<article
	  class="bg-white md:relative z-10 flex flex-col justify-evenly text-center items-center rounded-sm shadow-2xl md:w-[900px] h-[300px] md:h-[500px] mx-4"
	>
	  <div class="md:ml-[49%] w-full">
		<p class="font-dog text-2xl">
	{{"PET.Date" | translate}}

		</p>
		<p>{{ (pet | async)?.birthday | date : 'dd/MM/yyyy'}}</p>
	  </div>
	  <div class="md:ml-[49%] w-full">
		<p class="font-dog text-2xl">
	{{"PET.Owner" | translate}}

		</p>
		<p>{{ (pet | async)?.parent?.name }}</p>
	  </div>
	  <div class="md:ml-[49%] w-full">
		<p class="font-dog text-2xl">
	{{"PET.Diet" | translate}}

		</p>
		<p>{{ (pet | async)?.nutrition }}</p>
	  </div>
	  <div class="md:ml-[49%] w-full">
		<p class="font-dog text-2xl">
	{{"PET.Alergies" | translate}}

		</p>
		<p>{{ (pet | async)?.diseases }}</p>
	  </div>
	</article>
  </div>
  <div class="mx-auto w-44 flex gap-8">
	  <button
		class="bg-sienna-500 hover:bg-sienna-700 text-white font-bold text-xs px-4 rounded cursor-pointer h-10 w-32 md:px-8"
		routerLink="/parent-view"
	  >
	  {{"PET.Back" | translate}}

	  </button>
	  <button
	  *ngIf="pet | async as pet"
	  class="bg-york-500 hover:bg-york-700 text-white font-bold text-xs px-4 rounded cursor-pointer h-10 w-32 md:px-8"
	  (click)="onDownloadPet(pet)"
	  >
	{{"PET.Download" | translate}}
	  
	</button>
	<button
	*ngIf="pet | async as pet"
	class="bg-red-500 hover:bg-red-700 text-white font-bold text-xs px-4 rounded cursor-pointer h-10 w-32 md:px-8"
	(click)="onDeletePet(pet._id)"
	>
	{{"PET.Remove" | translate}}
  </button>
  </div>
</section>

