.bg-profile{
	background-image: url('https://www.xtrafondos.com/wallpapers/nubes-en-el-mar-al-atardecer-6393.jpg');
	background-size: cover;
}

section{ 
	min-height: calc(100vh - (10vh + 7vh));
}

div{
	width: 100%;
}

div p:first-child{
	font-size: 25px;
}