<section class="main">
    <div class="flex flex-col items-end mr-6 cursor-pointer relative" (click)="openMenuMobile()">
      <img class="w-20" src="../../../assets/pets.png" alt="Nueva Mascota">
      <p class="font-dog text-york-700 absolute bottom-[-6%]">
        {{"PARENT_VIEW.Pets" | translate}}
      </p>
    </div>
    <h2 class="text-3xl my-10 font-dog text-center text-sienna-700">
      {{"PARENT_VIEW.Services" | translate}}

    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 mb-12 place-items-center">
        <app-service *ngFor="let service of services" class="m-5" [servicesAddedToCart]="servicesAddedToCart" [service]="service"></app-service>
    </div>
</section>
