<section *ngIf="service" class="fixed flex justify-center bg-black bg-opacity-60 w-screen h-screen z-40">
    <section class="relative bg-white justify-start md:justify-between items-center p-7 pt-40 w-full rounded-md text-center">
        <button class="absolute top-[5%] right-[5%] bg-slate-600 rounded-full text-white text-sm h-7 w-7 ng-star-inserted" (click)="closeModalService()">X</button>
        <h2>Datos del Servicio</h2>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/SLSPM4zlLqs" title="Embedding YouTube videos in your Angular app | Learn how to #shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
</section>



