<div
  (click)="closeMenuMobile()"
  class="bg-black flex fixed text-[20px] bg-opacity-40 w-full h-screen z-40"
>
  <nav
    [ngClass]="{ show: modalAnimation, hiddenNav: !modalAnimation }"
    (click)="stopPropagation($event)"
    class="bg-sienna-100 flex flex-col items-center w-[240px] md:w-[400px] z-50 gap-4"
  >
    <div class="flex flex-col items-center gap-3 mt-8">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold text-xs px-4 rounded cursor-pointer h-10 w-32 lg:justify-self-center"
        routerLink="/register"
        [queryParams]="{ newPet: true }"
      >
        Nueva Mascota
      </button>
      <button
        class="bg-york-500 hover:bg-york-700 text-white font-bold text-xs px-4 rounded cursor-pointer h-10 w-32 lg:justify-self-center"
        routerLink="/forgot-password"
      >
        Reestablecer Password
      </button>
    </div>
    <div class="grid grid-cols-2 gap-10 w-[70%]">
      <h2
        class="text-2xl font-dog text-center text-sienna-700 col-span-2 lg:col-span-3"
      >
        Mis Mascotas
      </h2>
      <div
        *ngFor="let pet of pets"
        (click)="goToDetail(pet._id)"
        class="justify-self-center"
      >
        <div class="cursor-pointer">
          <img
            class="rounded-full w-16 h-16"
            [src]="pet.image"
            alt="Imagen Mascota"
          />
        </div>
        <p class="text-sm text-center font-dog font-black truncate w-16">
          {{ pet.name }}
        </p>
      </div>
      <h2
        class="text-2xl font-dog text-center text-sienna-700 col-span-2 lg:col-span-3"
      >
        Mis Citas
      </h2>
      
        <div
          *ngFor="let appointment of appointments"
        >
          <div class="cursor-pointer" (click)="goToDetailAppointment(appointment._id)">
            <p class="text-sm text-center font-dog font-black truncate w-16">{{appointment._id}}</p>
          </div>
        </div>
    </div>
  </nav>
</div>
