<div class="body">
    <form
      action="https://formspree.io/f/mnqklbbg"
      method="POST"
      class="container"
    >
      <div class="form--group">
        <label for="Nombre">Nombre</label>
        <input
          class="form--control"
          type="text"
          name="Nombre"
          placeholder=""
        />
      </div>
      <div class="form--group">
        <label for="email">
          Email
          <input class="form--control" type="email" name="email" placeholder="Email"/>
        </label>
      </div>
      <div class="form--group">
        <label for="Mensaje">Mensaje</label>
        <textarea cols="30" rows="10" class="form--control"
        type="text"
        name="Mensaje"
        placeholder="">
        </textarea>
      </div>
      <button type="submit" class="form--button">Enviar</button>
    </form>
  </div>
  
  <!-- Este es un formulario de contacto que recopila información del usuario y envía los datos a un servicio de formulario en línea. Incluye campos para el nombre, correo electrónico y mensaje del usuario, y utiliza etiquetas de traducción para mostrar el texto en varios idiomas. -->