<div class="body">
    <form
      action="https://formspree.io/f/mnqklbbg"
      method="POST"
      target="_blank"
    >
      <div>
        <label for="Nombre">Nombre</label>
        <input
          type="text"
          name="Nombre"
          placeholder="Nombre"
        />
      </div>
      <div>
        <label for="email">
          Email
        </label>
        <input type="email" name="email" placeholder="Email"/>
      </div>
      <div class="form__group">
        <label for="Mensaje">Mensaje</label>
        <textarea cols="30" rows="10"
        type="text"
        name="Mensaje"
        placeholder="Deja aqui tu comentario">
        </textarea>
      </div>
      <button type="submit">Enviar</button>
    </form>
  </div>
