<main class="bg-sienna-50 dark:bg-gray-900 mt-20 opacity-80">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-york-700"
    >
      ¿Contáctanos!
    </h2>
    <p
      class="mb-8 lg:mb-16 font-light text-center text-york-500 sm:text-xl"
    >
      ¿Tienes un problema técnico? ¿Alguna sugerencia? ¡Háznoslo saber!
    </p>
    <form action="https://formspree.io/f/mnqklbbg" method="POST" target="_blank" class="space-y-8">
      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-york-800 "
          >Email</label
        >
        <input
          type="email"
          id="email"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 "
          placeholder="Ex: email@email.com"
          required
        />
      </div>
      <div>
        <label
          for="subject"
          class="block mb-2 text-sm font-medium text-york-800 "
          >Asunto</label
        >
        <input
          type="text"
          id="subject"
          class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 "
          placeholder="Dinos como te podemos ayudar"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label
          for="message"
          class="block mb-2 text-sm font-medium text-york-800"
          >Mensaje</label
        >
        <textarea
          id="message"
          rows="6"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 "
          placeholder="Deja aqui tu comentario..."
        ></textarea>
      </div>
      <div class="flex justify-center gap-8">
        <button
          type="submit"
          class="bg-york-500 hover:bg-york-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
        >
          Enviar
        </button>
        <button
          type="button"
          routerLink=""
          class="bg-sienna-500 hover:bg-sienna-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
        >
          Home
        </button>
      </div>
    </form>
  </div>
</main>

