// @import "../../../../styles/main.scss";

.active-nav{
	transition: 0.5s;
	animation: activeNav 0.5s forwards;
}

li{
	cursor: pointer;
	transition: 0.2s;
}

li:hover{
	text-decoration: underline;
	color: gray;
	transition: 0.2s;
}
.active {
	text-decoration: underline;
  	color: gray;
}

.hidden-nav {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s;
  }

//   display: flex;
//   justify-content: space-between;
//   &__template {
//     width: 30%;
//     background-color: aqua;
//   }
//   &__image {
//     cursor: pointer;
//     background-color: red;
//     width: 50%;
//     height: 10rem;
//   }
//   &__nav {
//     width: 40%;
//     &_list {
//       display: none;
//     }
//   }
// }


// .menuMobile {
//   display: none;
// }

// .menuBurguer {
//   background-color: bisque;
//   display: flex;
//   flex-direction: column;
//   img{
//     width: 4rem;
//     height: 4rem;
//   }
// }

// @media all and (min-width: 600px) {
//   .header{
//     &__image{
//       width: 30%;
//     }
//     &__nav_list{
//       background-color: aquamarine;
//       display: flex;
//     }

//   }
//   .menuBurguer{
//     display: none;
//   }

// }
