<header class="h-12 flex items-center justify-between">
  <div class="flex items-center"> 
    <img class="w-12" src="../../../../assets/home/guardog2.png" alt="">
    <h1 class="ml-4 text-[20px] font-dog">GuarDog</h1>
  </div>
  <img class="w-7 mr-3 cursor-pointer" src="https://seekicon.com/free-icon-download/three-dots-vertical_1.png" alt="">
</header>




<!-- <div class="flex justify-between mb-4 font-dog md:max-h-60 text-sm">
  <div>
    <div class="">
      <div class=" cursor-pointer py-4 px-4 text-2xl" (click)="onChangeTheme()">
        <div [ngClass]="{'hidden': !isLightMode}">
          <span class="fa-solid fa-moon text-gray-400 hover:text-gray-600"></span>
        </div>
        <div [ngClass]="{'hidden': isLightMode}" >
          <span class="fa-solid fa-sun text-orange-600 hover:text-orange-800"></span>
        </div>
      </div>
    </div>
    <div class="">
      <div class=" cursor-pointer px-4 text-2xl" (click)="onChangeLanguage()">
        <div [ngClass]="{'hidden': language === 'es'}">
          <i class="fa-solid fa-earth-americas text-red-600 hover:text-red-800"></i>
        </div>
        <div [ngClass]="{'hidden': language === 'uk'}" >
          <i class="fa-solid fa-earth-americas text-blue-600 hover:text-blue-800"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-logo bg-no-repeat bg-center min-h-[140px] min-w-[300px] md:min-h-[200px] md:min-w-[500px] lg:min-w-[700px] cursor-pointer" routerLink="">
  </div>
  <nav class="hidden sm:flex p-8 text-sienna-600 md:text-xl">
    <ul>
      <li>
        <a class="hover:text-sienna-800  hover:text-2xl" routerLink="/about" routerLinkActive="active">Nosotros</a>
      </li>
      <li><a class="hover:text-sienna-800 hover:text-2xl" routerLink="/register" routerLinkActive="active">Registro</a></li>
      <li><a class="hover:text-sienna-800 hover:text-2xl" routerLink="/contact" routerLinkActive="active">Contacto</a></li>
    </ul>
  </nav>

  <div class="sm:hidden px-4">
    <div (click)="openMenuMobile()" class="text-2xl text-sienna-800 cursor-pointer text-center py-2">
      <span class="fa-solid fa-bars"></span>    
    </div>
    <div class="text-sienna-600" *ngIf="isMobile">
      <nav>
        <ul>
          <li>
            <a class="hover:text-sienna-800 hover:text-lg" routerLink="/about" routerLinkActive="active">Nosotros</a>
          </li>
          <li>
            <a class="hover:text-sienna-800 hover:text-lg" routerLink="/register" routerLinkActive="active">Registro</a>
          </li>
          <li>
            <a class="hover:text-sienna-800 hover:text-lg" routerLink="/contact" routerLinkActive="active">Contacto</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div> -->
