<header
        [ngClass]="{
    'hidden-nav': scrollNav && router.url === '/',
    fixed: router.url === '/'
  }"
        class="z-20 w-full bg-sienna-100 flex items-center justify-between shadow-xl duration-500 h-[74px]"
>
    <div class="ml-5 md:ml-10">
        <img
                routerLink="/"
                class="w-40 cursor-pointer"
                src="../../../../assets/home/logo.png"
                alt="Logo"
        />
    </div>
    <nav>
        <ul class="hidden md:flex mx-6 font-dog text-lg text-sienna-600">
            <li class="mx-5" routerLink="/about" routerLinkActive="active">
                {{""}}
            </li>
            <li class="mx-5" routerLink="/contact" routerLinkActive="active">
                {{"HEADER.About" | translate}}
            </li>
            <li
                    *ngIf="!isLogged"
                    class="mx-5"
                    routerLink="/register"
                    routerLinkActive="active"
            >
            {{"HEADER.Register" | translate}}

            </li>
            <li
            *ngIf="isLogged && isParent"
            (click)="onNavigateServices()"
            class="mx-5"
            routerLinkActive="active"
    >
    {{"HEADER.Services" | translate}}

    </li>
            <li
                    *ngIf="isLogged"
                    (click)="onNavigateAccount()"
                    class="mx-5"
                    routerLinkActive="active"
            >
            {{"HEADER.Account" | translate}}
                
            </li>
            <li
                    *ngIf="isLogged"
                    (click)="onLogout()"
                    class="mx-5"
                    routerLinkActive="active"
            >
            {{"HEADER.Logout" | translate}}

            </li>
            <div
                    (mouseenter)="onChangeHover()"
                    (mouseleave)="onHoverLeave()"
                    *ngIf="servicesInCart.length > 0 && isParent"
                    [ngClass]="{ 'fixed-cart': showFixedCart, relative: !showFixedCart }"
                    class="cursor-pointer"
            >
                <li
                        *ngIf="isLogged"
                        class="mx-5"
                        routerLink="/checkout"
                        routerLinkActive="active"
                >
                    <p class="absolute text-center text-black right-7">
                        {{ numberInCart }}
                    </p>
                    <span class="bg-cart w-[24px] h-[24px] bg-no-repeat block"></span>
                </li>
            </div>
        </ul>
    </nav>
    <img
            (click)="openMenuMobile()"
            class="w-7 mr-[2%] cursor-pointer md:hidden"
            src="https://seekicon.com/free-icon-download/three-dots-vertical_1.png"
            alt=""
    />
</header>
