.active-nav {
  transition: 0.5s;
  animation: activeNav 0.5s forwards;
}

li {
  cursor: pointer;
  transition: 0.2s;
}

li:hover {
  text-decoration: underline;
  color: #74302c;
  transition: 0.2s;
}
.active {
  text-decoration: underline;
  color: #74302c;
}

.hidden-nav {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

// span{
// 	cursor: pointer;
// 	transition: 0.2s;
// }

// span:hover{
// 	text-decoration: underline;
// 	color: #74302c;
// 	transition: 0.2s;
// }
.fixed-cart{
  cursor: pointer;
    position: fixed;
    z-index: 18;
    top: 0;
    right: 20px;
    box-shadow: 0 0 2px 1px;
    border: 1px solid #74302c;
    background-color: #f2e2d3;
    border-top: 0;
    padding: 10px 0px;
  p{
    right: 29px;
  }
}

