<div
  class="min-h-screen p-6 bg-sienna-100 flex flex-col items-center justify-center opacity-80"
>
  <div class="container max-w-screen-lg mx-auto">
    <div>
      <h2 class="font-semibold text-center text-2xl text-york-700 mb-6">
        Recuperar Contraseña
      </h2>
      <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6" *ngIf="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
            <div class="font-bold flex flex-col text-center">
              <p class="font-medium text-lg text-york-600">Recover Password</p>
              <p>Please fill out all the fields.</p>
              <img
                src="https://i.pinimg.com/originals/45/b3/66/45b3660b7d464ca297f9f6969143ca96.jpg"
                alt="Dogtor"
                class="w-36 h-36 rounded-full mt-10 self-center"
              />
            </div>

            <div class="lg:col-span-2">
              <div
                class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5"
              >
                <div class="md:col-span-5">
                  <label for="email">Email Address</label>
                  <input
                    type="email"
                    id="email"
                    class="h-10 border mt-1 rounded px-4 py-2 w-full bg-gray-50 focus:outline-none focus:ring focus:border-blue-500"
                    placeholder="email@domain.com"
                    formControlName="email"
                  />
                  <p
                  class="text-red-600"
                  *ngIf="
                    form.get('email')?.hasError('required') &&
                    form.get('email')?.touched
                  "
                >
                  El email es requerido
                </p>
                <p
                  class="text-red-600"
                  *ngIf="
                    form.get('email')?.hasError('email') &&
                    form.get('email')?.touched
                  "
                >
                  El email tiene un formato inválido
                </p>
                </div>

                <div class="md:col-span-5 text-center py-4">
                  <div class="inline-flex items-center">
                    <button
                      [disabled]="!form.valid"
                      type="submit"
                      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer disabled:bg-blue-200 disabled:cursor-not-allowed"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="flex gap-10">
    <button
      class="bg-sienna-500 hover:bg-sienna-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
      routerLink=""
    >
      Volver
    </button>
  </div>
</div>
