@import "../../../styles/main.scss";
.scroll-to-top {
  position: fixed;
  bottom: 12rem;
  right: 5rem;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
.fas {
  cursor: pointer;
  font-size: 5rem;
  color: $colorperros;
}
.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
@media all and (max-width: 767px) {
  .scroll-to-top {
    bottom: 10rem;
    right: 5rem;
  }
  .fas {
    font-size: 3rem;
  }
}
