<div
  *ngIf="shouldShowModal | async"
  id="popup-modal"
  tabindex="-1"
  class="bg-black flex justify-center items-center fixed bg-opacity-30 w-full h-full z-40"
  >
  <div class="relative w-full max-w-[256px] lg:max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex justify-between items-center">
        <img
          src="../../../../assets/home/logo.png"
          alt="Logo login"
          class="h-12 ml-4"
        />

        <button
          *ngIf="!(isLogged | async)"
          (click)="onLeavePage(false)"
          type="button"
          class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">{{"MODAL.Close" | translate}}</span>
        </button>
      </div>
      <div class="p-6 text-center">
        <h3 class="mb-11 text-lg font-normal text-gray-500 dark:text-gray-400">
          {{message | async }}
        </h3>

        <div class="flex gap-10 justify-center">
          <button
            (click)="onLeavePage(true)"
            data-modal-hide="popup-modal"
            type="button"
            class="text-white bg-york-600 hover:bg-york-800 focus:ring-4 focus:outline-none focus:ring-york-300 dark:focus:ring-york-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
          >
            {{"MODAL.Continue" | translate}}
          </button>
          <button
            *ngIf="!(isLogged | async)"
            (click)="onLeavePage(false)"
            data-modal-hide="popup-modal"
            type="button"
            class="text-white bg-sienna-600 hover:bg-sienna-800 focus:ring-4 focus:outline-none focus:ring-sienna-300 dark:focus:ring-sienna-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
          >
            {{"MODAL.Close" | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
