<!-- <div class="grid grid-cols-2 gap-4 lg:grid-cols-3 lg:items-center">
    <h2 class="text-2xl font-dog text-center text-sienna-700 col-span-2 lg:col-span-3">Mis Mascotas</h2>
    <div *ngFor="let pet of pets" (click)="goToDetail(pet._id)" class="justify-self-center	">
        <div>
            <img class="rounded-full w-16 h-16" [src]="pet.image" alt="Imagen Mascota">
        </div>
        <p class="text-sm text-center font-dog font-black truncate w-16">{{pet.name}}</p>
    </div>
</div> -->