
<section
  class="bg-white my-5 mx-auto p-5 w-[80%] max-w-[500px] min-h-[500px] flex flex-col shadow-lg"
>
  <h2 class="font-extrabold text-2xl mt-5 text-center text-sienna-600">Elige Método de Pago</h2>
    <div class="flex flex-col justify-evenly flex-1">
      <div class="flex items-center py-3">
        <input
          type="radio"
          class="mr-3"
          id="paypal"
          name="payment"
          value="paypal"
          (input)="onOpenModal('paypal')"
        />
        <div class="flex gap-3 items-center">
          <label for="paypal" class="cursor-pointer flex items-center font-bold">
            PAYPAL
          </label>
          <i class="fa-brands fa-paypal"></i>
        </div>
      </div>
      <div class="flex items-center py-3">
        <input
          type="radio"
          class="mr-3"
          id="stripe"
          name="payment"
          value="stripe"
          (input)="onOpenModal('stripe')"
        />
        <div class="flex gap-3 items-center">
          <label for="stripe" class="cursor-pointer flex items-center font-bold">
            VISA
          </label>
          <i class="fa-brands fa-cc-visa"></i>
        </div>
      </div>
      <div class="flex items-center py-3">
        <input
          type="radio"
          class="mr-3"
          id="bizum"
          name="payment"
          value="bizum"
          disabled
        />
        <div class="flex gap-3 items-center">
          <label for="bizum" class="cursor-pointer flex items-center font-bold text-gray-400">
            BIZUM (NO DISPONIBLE TODAVIA)
          </label>
          <i class="fa-solid fa-mobile-screen"></i>
        </div>       
      </div>
      <div class="flex items-center py-3">
        <input
          type="radio"
          class="mr-3"
          id="bizum"
          name="payment"
          value="bizum"
          disabled
        />
        <div class="flex gap-3 items-center">
          <label for="bizum" class="cursor-pointer flex items-center font-bold text-gray-400">
            BANK TRANSFER (NO DISPONIBLE TODAVIA)
          </label>
          <i class="fa-solid fa-money-bill-transfer"></i>
        </div>
      </div>
    </div>
</section>

<app-modal-stripe *ngIf="openModal === 'stripe'"></app-modal-stripe>
<app-modal-paypal *ngIf="openModal === 'paypal'"></app-modal-paypal>



