<section *ngIf="service" [ngClass]="{'opacity-70': isServiceInCart}" id="default" class="bg-blue-700 w-[300px] h-[300px] relative flex flex-col justify-end rounded-3xl overflow-hidden shadow-lg z-20">
    <img [ngClass]="{'grayscale': isServiceInCart}" class="absolute h-[220px] w-full top-0" src="{{service.image}}" alt="petImage">
    <img class="absolute bottom-16 left-5 z-30 w-[50px] h-[60px]" src="../../../assets/home/logoMini.png" alt="logoMini">
    <div class="absolute w-[200px] text-right bottom-12 right-5 z-30">
        <h6 class="text-sienna-500 font-dog text-xl">{{service.name}}</h6>
        <p class="text-2xl font-bold opacity-70">{{service.price.toFixed(2) + "$"}}</p>
        <button
                [ngClass]="{'bg-green-500': isServiceInCart}"
                [disabled]="isServiceInCart" (click)="openServiceModal(service)"
                 class="absolute right-0 -bottom-9 text-xs w-[90px] h-[25px] text-white bg-blue-500 rounded">{{isServiceInCart ? "En carrito":"Añadir"}}
        </button>
    </div>
    <div class="box bg-sienna-100 h-[160px] w-[330px] translate-y-10 -translate-x-5 p-3 rounded-t-3xl -rotate-12">
    </div>
</section>
