<div class=" lg:grid lg:grid-cols-3 lg:items-center">
  <h3 class="text-lg font-dog text-sienna-500 text-center lg:col-start-2 lg:col-end-3">
    {{ service?.name }}
  </h3>
  <div class="relative lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-2">
    <img
      class="rounded-xl max-h-[30%] col-span-full w-full lg:max-h-[100%]"
      [src]="service?.image"
      [ngClass]="{ inactive: changeStyles }"
      alt="Imagen Servicio"
    />
    <p *ngIf="changeStyles" class="absolute inset-0 text-2xl flex items-center justify-center text-york-400 font-extrabold">Añadido</p>
    <span *ngIf="changeStyles" class="material-symbols-outlined absolute top-0 right-0 text-3xl font-extrabold mr-2 mt-2">
      shopping_bag
      </span>
  </div>
  <p class="text-center font-bold">
    Precio:
    <span class="text-blue-600 font-extrabold">{{
      service?.price | currency : "EUR" : "symbol" : "2.2-2" : "es"
    }}</span>
  </p>
</div>
