<div>
    <h1>Login</h1>
    <form
      cForm
      *ngIf="form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      
      <div>
        <label cLabel for="email">Email</label>
        <input cFormControl id="email" type="text" formControlName="email" />
        <p cFormText *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">El email es requerido</p>
        <p cFormText *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">El email tiene un formato inválido</p>
      </div>
      <div>
        <label cLabel for="password">Password</label>
        <input
          cFormControl
          id="password"
          type="password"
          formControlName="password"
        />
        <p cFormText *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">El password es requerido</p>
        <p cFormText *ngIf="errors === 'El password no es correcto'">El password no es correcto</p>
      </div>
      <button [disabled]="!form.valid" type="submit">Enviar</button>
      <div>
        <p cFormText *ngIf="errors === 'El Usuario No existe, Registrate'">El Usuario No existe, Registrate</p>
        <p cFormText *ngIf="errors === 'No has verificado tu cuenta, revisa tu email'">No has verificado tu cuenta, revisa tu email</p>
      </div>
    </form>

  </div>
  <app-button [buttonName]="'Home'" [buttonClass]="'login'" routerLink=""></app-button>

  <app-button [buttonName]="'No tienes una cuenta?'" [buttonClass]="'login'" routerLink="/register"></app-button>

  