<div class="container">
    <h2> POLÍTICA DE PRIVACIDAD DEL SITIO WEB </h2>

    <h3> {{"PRIVACITY.2"  }} </h3>

    <p> {{"PRIVACITY.3"  }} </p>

    <h4> {{"PRIVACITY.4"  }} </h4>

    <p> {{"PRIVACITY.5"  }} </p>
    
    <ul>
        <li> {{"PRIVACITY.6"  }} </li>
        <li> {{"PRIVACITY.7"  }} </li>
        <li> {{"PRIVACITY.8"  }} </li>
        <li> {{"PRIVACITY.9"  }} </li>
    </ul>
    
    <h4> {{"PRIVACITY.10"  }} </h4>
    <p> {{"PRIVACITY.11"  }} </p>
        
    <p> {{"PRIVACITY.12"  }} </p>

    <ul>
        <li> {{"PRIVACITY.13"  }} </li>
        <li> {{"PRIVACITY.14"  }} </li>
        <li> {{"PRIVACITY.15"  }} </li>
    </ul>

    <h4> {{"PRIVACITY.16"  }} </h4>

    <p> {{"PRIVACITY.17"  }} </p>

    <h4> {{"PRIVACITY.18"  }} </h4>

    <p> {{"PRIVACITY.19"  }} </p>
    
    <ul>
        <li> {{"PRIVACITY.20"  }} </li>
        <li> {{"PRIVACITY.21"  }} </li>
        <li> {{"PRIVACITY.22"  }} </li>
        <li> {{"PRIVACITY.23"  }} </li>
        <li> {{"PRIVACITY.24"  }} </li>
        <li> {{"PRIVACITY.25"  }} </li>
        <li> {{"PRIVACITY.26"  }} </li>
    </ul>

    <h4> {{"PRIVACITY.27"  }} </h4>
   
    <p> {{"PRIVACITY.28"  }} </p>

    <h4> {{"PRIVACITY.29"  }} </h4>
   
    <p> {{"PRIVACITY.30"  }} </p>
    
    <h4> {{"PRIVACITY.31"  }} </h4>

    <p> {{"PRIVACITY.32"  }} </p>
    
    <h4> {{"PRIVACITY.33"  }} </h4>

    <p> {{"PRIVACITY.34"  }} </p>
    
    <ul>
        <li> {{"PRIVACITY.35"  }} </li>
        <li> {{"PRIVACITY.36"  }} </li>
        <li> {{"PRIVACITY.37"  }} </li>
        <li> {{"PRIVACITY.38"  }} </li>
        <li> {{"PRIVACITY.39"  }} </li>
        <li> {{"PRIVACITY.40"  }} </li>
        <li> {{"PRIVACITY.41"  }} </li>
    </ul>
    
    <h4> {{"PRIVACITY.42"  }} </h4>
     
    <p> {{"PRIVACITY.43"  }} </p>

    <h3> {{"PRIVACITY.44"  }} </h3>

    <p> {{"PRIVACITY.45"  }} </p>

    <p> {{"PRIVACITY.46"  }} </p>
    
    <p> {{"PRIVACITY.47"  }} </p>
</div>