<div class="app-container flex flex-col min-h-screen">
  <app-modal-form></app-modal-form>
  <app-modal-items-services *ngIf="isItemServiceModal | async" [typeModal]="isItemServiceModal |async"></app-modal-items-services>
  <app-modal-nav *ngIf="isMenuOpen | async"></app-modal-nav>
  <app-modal-pets *ngIf="isPetModal | async"></app-modal-pets>
  <app-modal-filters *ngIf="isFiltersModal | async"></app-modal-filters>
  <app-scroll-to-top></app-scroll-to-top>
  <app-modal-cart></app-modal-cart>
  <app-loader></app-loader>
  <app-toast></app-toast>
  <app-header *ngIf="shouldShow()"></app-header>
  <app-modal-coupons></app-modal-coupons>
  <app-modal-extras></app-modal-extras>
  <main class="grow">
    <router-outlet>
    </router-outlet>
  </main>
  <app-footer *ngIf="shouldShow()"></app-footer>
</div>
