<div
  class="min-h-screen p-6 bg-sienna-100 flex flex-col items-center justify-center"
>
  <div class="container max-w-screen-lg mx-auto">
    <div>
      <h2 class="font-semibold text-center text-2xl text-york-700 mb-6">
        {{ textRegister }}
      </h2>
      <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
        <form
          *ngIf="form"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          autocomplete="on"
        >
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
            <div class="font-bold flex flex-col text-center">
              <p class="font-medium text-lg text-york-600">
                {{ "REGISTER.Register" | translate }}
              </p>
              <p>
                {{ "REGISTER.Fill" | translate }}
              </p>
              <img
                alt="Dogtor"
                class="w-36 h-36 rounded-full mt-10 self-center"
                [src]="url"
              />
            </div>

            <div class="lg:col-span-2">
              <div
                class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5"
              >
                <div class="md:col-span-5">
                  <label for="name">
                    {{ "REGISTER.Name" | translate }}
                  </label>
                  <input
                    type="text"
                    id="name"
                    class="h-10 border mt-1 rounded px-4 py-2 w-full bg-gray-50 focus:outline-none focus:ring focus:border-blue-500"
                    placeholder="Introduce tu Nombre"
                    formControlName="name"
                    autocomplete="on"
                  />
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      form.get('name')?.hasError('required') &&
                      form.get('name')?.touched
                    "
                  >
                    {{ "REGISTER.NameRequired" | translate }}
                  </p>
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      form.get('name')?.hasError('minlength') &&
                      form.get('name')?.touched
                    "
                  >
                    {{ "REGISTER.NameSort" | translate }}
                  </p>
                </div>

                <div class="md:col-span-5">
                  <label for="image">Avatar</label>
                  <app-upload-files
                    id="image"
                    *ngIf="form.get('image')"
                    [formControl]="controlImage"
                    (change)="uploadImage($event)"
                  ></app-upload-files>
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      form.get('image')?.hasError('required') &&
                      form.get('image')?.touched
                    "
                  >
                    {{ "REGISTER.ImgRequired" | translate }}
                  </p>
                </div>
                <div class="md:col-span-5" *ngIf="newPet">
                  <label for="birthday">
                    {{ "REGISTER.Date" | translate }}
                  </label>
                  <input
                    type="date"
                    id="birthday"
                    class="h-10 border mt-1 rounded px-4 py-2 w-full bg-gray-50 focus:outline-none focus:ring focus:border-blue-500"
                    formControlName="birthday"
                    autocomplete="on"
                  />
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      form.get('birthday')?.hasError('birthday') &&
                      form.get('birthday')?.touched
                    "
                  >
                    {{ "REGISTER.DateRequired" | translate }}
                  </p>
                </div>

                <div class="md:col-span-5" *ngIf="newPet">
                  <label for="nutrition">
                    {{ "REGISTER.Nutrition" | translate }}
                  </label>
                  <select
                    name="nutrition"
                    id="nutrition"
                    formControlName="nutrition"
                    class="h-10 border mt-1 rounded px-4 py-2 w-full bg-gray-50 focus:outline-none focus:ring focus:border-blue-500"
                  >
                    <option value="">
                      --
                      {{ "REGISTER.Select" | translate }}
                      --
                    </option>
                    <option *ngFor="let food of nutrition" [value]="food">
                      {{ food }}
                    </option>
                  </select>
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      form.get('nutrition')?.hasError('nutrition') &&
                      form.get('nutrition')?.touched
                    "
                  >
                    {{ "REGISTER.NutritionRequired" | translate }}
                  </p>
                </div>

                <div class="md:col-span-5" *ngIf="newPet">
                  <button
                    type="button"
                    (click)="onAddDisease()"
                    id="disease"
                    class="bg-york-500 hover:bg-york-700 text-white font-bold py-2 px-4 rounded cursor-pointer mb-2"
                  >
                    {{ "REGISTER.Disease" | translate }}
                  </button>
                  <div
                    *ngFor="let diseaseControl of controlDisease; let i = index"
                    formArrayName="diseases"
                  >
                    <input
                      class="h-10 border mt-1 rounded px-4 py-2 w-full bg-gray-50 focus:outline-none focus:ring focus:border-blue-500"
                      type="text"
                      [formControlName]="i"
                      autocomplete="on"
                    />
                  </div>
                </div>

                <div class="md:col-span-5" *ngIf="newPet">
                  <label for="exercise">
                    {{ "REGISTER.Exercise" | translate }}
                  </label>
                  <select
                    name="exercise"
                    id="exercise"
                    formControlName="exercise"
                    class="h-10 border mt-1 rounded px-4 py-2 w-full bg-gray-50 focus:outline-none focus:ring focus:border-blue-500"
                  >
                    <option value="">
                      --
                      {{ "REGISTER.Select" | translate }}

                      --
                    </option>
                    <option
                      *ngFor="let exercise of exercises"
                      [value]="exercise"
                    >
                      {{ exercise }}
                    </option>
                  </select>
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      form.get('exercise')?.hasError('exercise') &&
                      form.get('exercise')?.touched
                    "
                  >
                    {{ "REGISTER.ExerciseRequired" | translate }}
                  </p>
                </div>

                <div class="md:col-span-5 flex flex-col" *ngIf="newPet">
                  <label for="gifts">
                    {{ "REGISTER.Gifts" | translate }}
                  </label>
                  <mat-slider
                    color="primary"
                    min="0"
                    max="10"
                    step="1"
                    showTickMarks
                    discrete
                  >
                    <input
                      class=""
                      matSliderThumb
                      id="gifts"
                      [(ngModel)]="maxNumberGifts"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </mat-slider>
                </div>

                <div class="md:col-span-5" *ngIf="!newPet">
                  <label for="email">Email</label>
                  <input
                    type="text"
                    id="email"
                    class="h-10 border mt-1 rounded px-4 py-2 w-full bg-gray-50 focus:outline-none focus:ring focus:border-blue-500"
                    placeholder="Introduce tu Email"
                    formControlName="email"
                    autocomplete="on"
                  />
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      form.get('email')?.hasError('required') &&
                      form.get('email')?.touched
                    "
                  >
                    {{ "REGISTER.EmailRequired" | translate }}
                  </p>
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      form.get('email')?.hasError('email') &&
                      form.get('email')?.touched
                    "
                  >
                    {{ "REGISTER.EmailInvalid" | translate }}
                  </p>
                </div>

                <div class="md:col-span-5" *ngIf="!newPet">
                  <label for="password">
                    {{ "REGISTER.Password" | translate }}
                  </label>
                  <input
                    type="password"
                    id="password"
                    class="h-10 border mt-1 rounded px-4 py-2 w-full bg-gray-50 focus:outline-none focus:ring focus:border-blue-500"
                    placeholder="Introduce tu password"
                    formControlName="password"
                    autocomplete="on"
                  />
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      form.get('password')?.hasError('required') &&
                      form.get('password')?.touched
                    "
                  >
                    {{ "REGISTER.PasswordRequired" | translate }}
                  </p>
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      form.get('password')?.hasError('minlength') &&
                      form.get('password')?.touched
                    "
                  >
                    {{ "REGISTER.PasswordInvalid" | translate }}
                  </p>
                </div>

                <div class="md:col-span-5" *ngIf="!newPet">
                  <label for="repeatPassword">
                    {{ "REGISTER.RepeatPassword" | translate }}
                  </label>
                  <input
                    type="password"
                    id="repeatPassword"
                    class="h-10 border mt-1 rounded px-4 py-2 w-full bg-gray-50 focus:outline-none focus:ring focus:border-blue-500"
                    formControlName="repeatPassword"
                    autocomplete="on"
                  />
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      !isSamePassword && form.get('repeatPassword')?.touched
                    "
                  >
                    {{ "REGISTER.NoCoincidence" | translate }}
                  </p>
                </div>

                <div class="md:col-span-5" *ngIf="!newPet">
                  <label for="phone">
                    {{ "REGISTER.Phone" | translate }}
                  </label>
                  <input
                    type="phone"
                    id="phone"
                    class="h-10 border mt-1 rounded px-4 py-2 w-full bg-gray-50 focus:outline-none focus:ring focus:border-blue-500 border-[#6B7280]"
                    formControlName="phone"
                    autocomplete="on"
                  />
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      form.get('phone')?.hasError('required') &&
                      form.get('phone')?.touched
                    "
                  >
                    {{ "REGISTER.PhoneRequired" | translate }}
                  </p>
                </div>

                <div class="md:col-span-5" *ngIf="!newPet">
                  <label for="address">
                    {{ "REGISTER.Address" | translate }}
                  </label>
                  <input
                    type="text"
                    id="address"
                    class="h-10 border mt-1 rounded px-4 py-2 w-full bg-gray-50 focus:outline-none focus:ring focus:border-blue-500"
                    formControlName="address"
                    autocomplete="on"
                  />
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      form.get('address')?.hasError('required') &&
                      form.get('address')?.touched
                    "
                  >
                    {{ "REGISTER.AddressRequired" | translate }}
                  </p>
                </div>

                <div class="md:col-span-5 text-center py-4">
                  <div class="inline-flex items-center">
                    <button
                      [disabled]="!form.valid"
                      type="submit"
                      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer disabled:bg-blue-200 disabled:cursor-not-allowed"
                    >
                      {{ "REGISTER.Submit" | translate }}
                    </button>
                  </div>
                </div>
                <div class="md:col-span-5 text-center py-4">
                  <p
                    class="text-red-600 font-bold text-xl"
                    *ngIf="errors === 'El usuaro ya existe, logueate'"
                  >
                    {{ "REGISTER.ExistUser" | translate }}
                  </p>
                  <p
                    class="text-red-600 font-bold text-xl"
                    *ngIf="errors === 'Ya existe la mascota'"
                  >
                    {{ "REGISTER.ExistPet" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="flex gap-10">
    <button
      *ngIf="!newPet"
      class="bg-sienna-500 hover:bg-sienna-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
      routerLink=""
    >
      {{ "REGISTER.Home" | translate }}
    </button>
    <button
      *ngIf="newPet"
      class="bg-sienna-500 hover:bg-sienna-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
      routerLink="/parent-view"
    >
      {{ "REGISTER.Back" | translate }}
    </button>
    <button
      *ngIf="!newPet"
      class="bg-york-500 hover:bg-york-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
      routerLink="/login"
    >
      Login
    </button>
  </div>
</div>
