:host{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}
.mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: #2f6c37;
    --mdc-slider-focus-handle-color: #204526;
    --mdc-slider-active-track-color: #204526;
    --mdc-slider-inactive-track-color: #2f6c37;
    --mdc-slider-with-tick-marks-active-container-color: #204526;
    --mdc-slider-with-tick-marks-inactive-container-color: #2f6c37;
    --mat-mdc-slider-hover-ripple-color: rgba(19, 126, 60, 0.2);
    --mat-mdc-slider-focus-ripple-color: rgba(9, 55, 26, 0.2);
    --mdc-slider-label-container-color: #2f6c37;
    --mat-mdc-slider-value-indicator-opacity: 0.61;
    --mdc-slider-label-label-text-color: #fff;
}
