<section *ngIf="service" (click)="closeModalService()" class="fixed flex justify-center bg-black bg-opacity-60 w-screen h-screen z-40">
    <section (click)="stopPropagation($event)" class="bg-white flex flex-col justify-center md:justify-between items-center p-7 h-[500px] md:h-[500px] w-full rounded-md text-center">
        <div class="flex flex-col">
            <label for="pet" class="font-dog text-xl text-york-500 my-3 md:my-0">Mascota</label>
            <select [(ngModel)]="service.pet"  id="pet" (change)="selectPetId($event)">
                <option  value="Selecciona">-- Selecciona --</option>
                <option [value]="pet._id" *ngFor="let pet of pets">{{pet.name}}</option>
            </select>
        </div>
        <div class="flex flex-col"  *ngIf="true">
            <label class="font-dog text-xl text-york-500 text-center my-3 md:my-0" >Fecha</label>
            <!-- <input [(ngModel)]="service.date"  type="date" id="date" [disabled]="true" (input)="checkDisabledDates($event)"/> -->
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="service.date" [matDatepickerFilter]="disabledDates"  (dateChange)="onRequestHours($event)" >
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
              
              
        </div>
        <div class="flex flex-col" *ngIf="showHours">
            <label class="font-dog text-xl text-york-500 text-center my-3 md:my-0" >Hora</label>
            <div class="flex gap-1 w-[300px] flex-wrap">
                 <button    [disabled]="hoursBusy.includes(hour)"
                 (click)="onAddHour(hour)" class="bg-york-700 text-white p-2 rounded disabled:bg-red-600 disabled:cursor-not-allowed" [ngClass]="{'bg-blue-300': selectedHour === hour}" *ngFor="let hour of hours">
                    {{hour}}
                </button>
            </div>
        </div>
        <button (click)="onAddService(service)"  class="bg-blue-500 text-sm mt-6 md:mt-6 text-white w-[100px] h-[40px] rounded">Confirmar</button>
    </section>
</section>



<!--
// Seleccionar mascota
// fecha
// boto añadir
-->
