.back-img
{
	background-image: url("../../../../assets/home/home1.jpg");
    background-position: center;
    background-size: cover;
}

.image{
    
    background-position: center;
    background-size: cover;
  }

.img1{
    background-image: url(../../../../assets/home/home2.webp);
}

.img2{
    background-image: url(../../../../assets/home/home3.webp);
}

.img3{
    background-image: url(../../../../assets/home/home4.jpg);
}


// :host{
//     display: flex;
//     flex: 1;
// }