<div class="home">
  <div class="home__menu">
    <div class="home__menu_login">
      <div>
        <h2>Texto</h2>
        <p>Texto2</p>
      </div>
      <div class="buttons">
        <div class="home__menu_buttons">
          <button (click)="goToRegister()">Registro</button>
          <button (click)="goToLogin()">Login</button>
        </div>
        <div class="home__menu_trainer">
          <button (click)="goToTrainerLogin()">Educador</button>
        </div>
      </div>
    </div>
  </div>

  <div class="home__image">
    <img src="../../../../assets/home/home.jpg" alt="Imagen Home" />
  </div>
</div>
