article
{
    max-width: 3000px;
    margin: auto;
}
.back-img
{
	background-image: url("../../../../assets/home/home1.jpg");
    background-position: center;
    background-size: cover;
}

.image{
    
    background-position: center;
    background-size: cover;
  }

.img1{
    background-image: url(../../../../assets/home/home2.webp);
}

.img2{
    background-image: url(../../../../assets/home/home3.webp);
}

.img3{
    background-image: url(../../../../assets/home/home4.jpg);
}

// animaciones

.art {
    transform: translateY(60px);
    transition: 0.7s;
    opacity: 0;
}

.art.set{
    opacity: 1;
    transform: translate(0);
}

.cert{
    border-radius: 200%;
    box-shadow: 0px 0px 10px;
    transform: translateY(60px);
    transition: 0.7s;
    opacity: 0;
}

.cert.certAnim{
    opacity: 1;
    transform: translate(0);
}
