@keyframes iluminar {
    0% {
      text-shadow: 0 0 0 transparent;
    }
    50% {
      text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
    }
    100% {
      text-shadow: 0 0 0 transparent;
    }
  }
  
  .iluminado {
    animation: iluminar 1000ms infinite;
  }
  