<footer class="footer">
    <div class="footer__rrss">
        <a href="https://github.com/torresmald" target="_blank"><span class="fa-brands fa-github fa-beat"></span></a>
        <a href="https://www.linkedin.com/in/torresmald/" target="_blank"><span class="fa-brands fa-linkedin fa-beat"></span></a>
        <a href="https://twitter.com/torresmald" target="_blank"><span class="fa-brands fa-twitter fa-beat"></span></a>
    </div>
    <div class="footer__about">
        <a routerLink="/about">Sobre Nosotros</a>
    </div>
    <div class="footer__privacy">
        <a routerLink="/privacy">Politica Privacidad</a>
    </div>
    <div class="footer__contact">
        <a routerLink="/contact">Contacto</a>
    </div>
</footer>


