@import "../../../../styles/main.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  background-color: $colorgeneral;
  padding: 1rem;
  &__rrss {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-around;
    width: 20rem;
  }
  a {
    color: #fff;
  }
  a:hover {
    color: #000;
    font-weight: 700;
    font-size: 1.8rem;
    transition: 0.8s ease;
  }
}

@media all and (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    font-size: 1.6rem;
  }
}
