<footer
  class="flex relative z-30 flex-col items-center gap-2 md:flex-row md:justify-around font-dog text-sienna-600 bg-sienna-100 p-4 w-full md:h-[7vh]"
>
  <div class="flex justify-between gap-6 text-lg">
    <a
      class="hover:scale-125 duration-200 hover:text-sienna-800"
      href="https://github.com/torresmald"
      target="_blank"
      ><span class="fa-brands fa-github"></span
    ></a>
    <a
      class="hover:scale-125 duration-200 hover:text-sienna-800"
      href="https://www.linkedin.com/in/torresmald/"
      target="_blank"
      ><span class="fa-brands fa-linkedin"></span
    ></a>
    <a
      class="hover:scale-125 duration-200 hover:text-sienna-800"
      href="https://twitter.com/torresmald"
      target="_blank"
      ><span class="fa-brands fa-twitter"></span
    ></a>
  </div>
  <div>
    <a
      class="hover:scale-125 duration-200 hover:text-sienna-800"
      routerLink="/about"
      routerLinkActive="active"
      >{{"FOOTER.About" | translate}}</a
    >
  </div>
  <div>
    <a
      class="hover:scale-125 duration-200 hover:text-sienna-800"
      routerLink="/privacy"
      routerLinkActive="active"
      >{{"FOOTER.Privacy" | translate}}</a
    >
  </div>
  <div>
    <a
      class="hover:scale-125 duration-200 hover:text-sienna-800"
      routerLink="/contact"
      routerLinkActive="active"
      >{{"FOOTER.Contact" | translate}}</a
    >
  </div>
</footer>
