<div
  class="min-h-[calc(100vh-(10vh+7vh))] p-6 bg-sienna-100 flex flex-col items-center justify-center opacity-70"
>
  <div class="container max-w-screen-lg mx-auto">
    <div>
      <h2 class="font-semibold text-center text-2xl text-york-700 mb-6">
        {{"UPDATE_DATA.Edit" | translate}}
        
      </h2>
      <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()"  autocomplete="on">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
            <div class="font-bold flex flex-col text-center">
              <p class="font-medium text-lg text-york-600">
                {{"UPDATE_DATA.Account" | translate}}


              </p>
              <p>
                {{"UPDATE_DATA.Fill" | translate}}

              </p>
              <img
                alt="Dogtor"
                class="w-36 h-36 rounded-full mt-10 self-center"
                [src]="url"
              />
            </div>

            <div class="lg:col-span-2">
              <div
                class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5"
              >
                <div class="md:col-span-5">
                  <label for="name">
                  {{"UPDATE_DATA.Name" | translate}}

                  </label>
                  <input
                    type="text"
                    id="name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    formControlName="name"
                    autocomplete="on"
                  />
                  <p
                    class="text-red-600 font-bold"
                    *ngIf="
                      form.get('name')?.hasError('required') &&
                      form.get('name')?.touched
                    "
                  >
                  {{"UPDATE_DATA.NameRequired" | translate}}

                  </p>
                  <p
                  class="text-red-600 font-bold"
                  *ngIf="
                      form.get('name')?.hasError('minlength') &&
                      form.get('name')?.touched
                    "
                  >
                  {{"UPDATE_DATA.NameSort" | translate}}
                    
                  </p>
                </div>
                <div class="md:col-span-5">
                    <label for="name">
                    {{"UPDATE_DATA.Phone" | translate}}

                    </label>
                    <input
                      type="text"
                      id="phone"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      formControlName="phone"
                      autocomplete="on"
                      [value]="parent ?  parent.phone : trainer?.phone"
                      />
                    <p
                      class="text-red-600 font-bold"
                      *ngIf="
                        form.get('phone')?.hasError('required') &&
                        form.get('phone')?.touched
                      "
                    >
                    {{"UPDATE_DATA.PhoneRequired" | translate}}
                      
                    </p>
                  </div>
                  <div class="md:col-span-5"  *ngIf="parent">
                    <label for="address">
                    {{"UPDATE_DATA.Address" | translate}}

                    </label>
                    <input
                      type="text"
                      id="address"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      formControlName="address"
                      autocomplete="on"
                      [value]="parent.address"
                    />
                    <p
                    class="text-red-600 font-bold"
  
                      *ngIf="
                        form.get('address')?.hasError('required') &&
                        form.get('address')?.touched
                      "
                    >
                    {{"UPDATE_DATA.AddressRequired" | translate}}

                    </p>
                  </div>
                <div class="md:col-span-5 text-center py-4">
                    <div class="inline-flex items-center">
                      <button
                        [disabled]="!form.valid"
                        type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer disabled:bg-blue-200 disabled:cursor-not-allowed"
                      >
                      {{"UPDATE_DATA.Submit" | translate}}

                      </button>
                    </div>
                  </div>
            
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="flex gap-10">

    <button
      *ngIf="trainer"
      class="bg-sienna-500 hover:bg-sienna-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
      routerLink="/trainer-view"
    >
      {{"UPDATE_DATA.Back" | translate}}
    </button>

  </div>
</div>
