<div 
  *ngIf="isHover"
  class="transition animate-fade animate-once animate-delay-300 animate-ease-in-out"
>
    <div
      *ngIf="servicesInCart.length !== 0"
      class="absolute top-20 right-6 border-york-800 border-2 h-[120px] w-[300px] overflow-auto rounded-lg z-50"
    >
      <div class="flex flex-col">
        <div *ngFor="let service of servicesInCart" class="p-2 flex justify-around items-center">
          <h5 class="text-xs">{{ service.name }}</h5>
          <p class="text-xs text-blue-800">
            {{ service.price | currency : "EUR" : "symbol" : "2.2-2" : "es" }}
          </p>
          <button
            class="bg-red-600 rounded-lg text-white text-sm px-3"
            *ngIf="service"
            (click)="onRemoveService(service)"
          >
            X
          </button>
        </div>
        <p class="text-end text-blue-800 mr-2">
          Total Pedido:
          <span class="text-blue font-bold">
            {{ totalAmount | currency : "EUR" : "symbol" : "2.2-2" : "es" }}</span
          >
        </p>
        <button class="bg-blue-600 rounded-lg text-white text-sm px-3 self-center m-3">Pagar</button>
      </div>
    </div>
    <div
      *ngIf="servicesInCart.length === 0"
      class="absolute top-20 right-6 border-york-800 border-2 h-9 w-44 rounded-lg"
    >
      <p class="text-xs text-center m-auto">No hay productos en el carrito</p>
    </div>
</div>
