
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "dog";
    src: url(./assets/fonts/DogsFont.ttf);
  }
  .active {
    color: #8d3a30;
    font-weight: bold;
    transition: ease-in;
  }
  
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
