@use "./styles/theme/theme.scss" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color) !important;
  color: var(--font-color-main, #666) !important;
  // overflow-x: hidden !important;
}


body.block-scroll{
  overflow: hidden;
}

@layer base {
  @font-face {
    font-family: "dog";
    src: url(./assets/fonts/DogsFont.ttf);
  }
  .active {
    color: #41884a;
    font-weight: bold;
    transition: ease-in;
  }
  
}

.mat-mdc-snack-bar-container {
  &.sienna-snackbar {
    text-align: center;
    font-weight: bold;
    --mdc-snackbar-container-color: #204526;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
iframe{ display: inline}
