<section class="lg:flex justify-center pt-16 min-h-[calc(100vh-(10vh+7vh))]">
  <div class="bg-white mx-5 md:mx-0 lg:w-[900px] h-[600px] md:mr-2 shadow-md">
    <h6 class="flex items-center text-3xl font-bold h-[15%] ml-5">{{"CHECKOUT.Cart" | translate}}</h6>
    <hr>
    <div class="h-[70%] overflow-y-scroll">
      <app-service-card *ngFor="let service of servicesInCart" [service]="service" [servicesAddedToCart]="servicesAddedToCart"></app-service-card>
    </div>
    <div class="h-[15%] flex justify-end items-center pr-5 text-2xl">
      <p class="mr-5 font-bold">SUB-TOTAL:</p>
      <p>{{subTotal | currency : "EUR" : "symbol" : "2.2-2" : "es"}}</p>
    </div>
  </div>
  <div>
    <div class="bg-white mx-5 lg:w-[400px] h-[600px] md:mx-0 md:ml-2 my-5 lg:my-0 px-7 py-4 shadow-md">
      <h6 class="h-[12%] text-3xl font-bold border-b border-gray-500">{{"CHECKOUT.Resume" | translate}}</h6>
      <div class="h-[30%] border-b border-gray-500 flex flex-col justify-center">
        <article class="flex justify-between"><p class="font-bold opacity-70">Sub-Total</p>
          <p class="text-lg opacity-60">{{subTotal | currency : "EUR" : "symbol" : "2.2-2" : "es"}}</p></article>
         <article *ngIf="discount" class="flex justify-between"><p class="font-bold opacity-70">{{"CHECKOUT.Coupon" | translate}}</p>
          <p class="text-lg opacity-60">{{discount}}%</p></article>
        <article class="flex justify-between"><p class="font-bold opacity-70">{{"CHECKOUT.IVA" | translate}}</p>
          <p class="text-lg opacity-60">{{taxes | currency : "EUR" : "symbol" : ".2-2" : "es"}}</p></article>
        <article class="flex justify-between"><p class="text-lg font-bold mb-3">{{"CHECKOUT.Total" | translate}}</p>
          <p class="text-lg opacity-70">{{total | currency : "EUR" : "symbol" : "2.2-2" : "es"}}</p></article>
      </div>
      <div class="h-[30%] border-b border-gray-500 flex flex-col justify-start mt-2 w-full mx-auto max-w-[300px]">
        <article class="flex flex-col justify-between gap-4">
          <input type="text" [(ngModel)]="coupon" placeholder="Introduce tu Cupón">
          <button [disabled]="discount" class="bg-york-600 text-white w-full p-2 tracking-widest font-bold disabled:bg-red-800 disabled:cursor-not-allowed" (click)="onApplyCoupon(coupon)">{{!discount ? 'Aplicar' : 'Aplicado'}}</button>
          <p *ngIf="!isValidCoupon" class="text-red-600 text-center">{{"CHECKOUT.Invalud" | translate}}</p>
        </article>
      </div>
      <div class="h-[22%] flex flex-col justify-center gap-2">
        <button (click)="onSubmit()" class="bg-blue-600 text-white mt-3 h-10 tracking-widest font-bold w-auto">{{"CHECKOUT.Buy" | translate}}</button>
        <div class="flex justify-between items-center">
          <h3 class="inline">Payments</h3>
          <div class="flex gap-2 text-2xl">
            <i class="fa-brands fa-paypal"></i>
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-solid fa-mobile-screen"></i>           
           <i class="fa-solid fa-money-bill-transfer"></i>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>

