<div
  class="min-h-screen p-6 bg-sienna-100 flex flex-col items-center justify-center opacity-80"
>
  <div class="container max-w-screen-lg mx-auto">
    <div>
      <h2 class="font-semibold text-center text-2xl text-york-700 mb-6">
        {{"UPDATE_PASSWORD.Update" | translate}}
        
      </h2>
      <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6" *ngIf="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
            <div class="font-bold flex flex-col text-center">
              <p class="font-medium text-lg text-york-600">
                {{"UPDATE_PASSWORD.Update" | translate}}

              </p>
              <p>
                {{"UPDATE_PASSWORD.Fill" | translate}}

              </p>
              <img
                src="https://i.pinimg.com/originals/45/b3/66/45b3660b7d464ca297f9f6969143ca96.jpg"
                alt="Dogtor"
                class="w-36 h-36 rounded-full mt-10 self-center"
              />
            </div>

            <div class="lg:col-span-2">
              <div
                class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5"
              >
              <div class="md:col-span-5">
                <label for="password">
                {{"UPDATE_PASSWORD.Password" | translate}}
                  
                </label>
                <input
                  type="password"
                  id="password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="********"
                  formControlName="password"
                  autocomplete="on"
                />
                <p
                class="text-red-600 font-bold"

                  *ngIf="
                    isValidField('password')
                  "
                >
                {{getFieldError('password') | translate}}
                  
                </p>
                <!-- <p
                class="text-red-600 font-bold"

                  *ngIf="
                    form.get('password')?.hasError('minlength') &&
                    form.get('password')?.touched
                  "
                >
                {{"UPDATE_PASSWORD.PasswordInvalid" | translate}}
                </p> -->
              </div>

              <div class="md:col-span-5">
                <label for="repeatPassword">
                {{"UPDATE_PASSWORD.RepeatPassword" | translate}}
                  
                </label>
                <input
                  type="password"
                  id="repeatPassword"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  formControlName="repeatPassword"
                  placeholder="********"
                  autocomplete="on"
                />
                <p
                class="text-red-600 font-bold"

                  *ngIf="
                    !isSamePassword && form.get('repeatPassword')?.touched
                  "
                >
                {{"UPDATE_PASSWORD.NoCoincidence" | translate}}

                </p>
              </div>

                <div class="md:col-span-5 text-center py-4">
                  <div class="inline-flex items-center">
                    <button
                      [disabled]="!form.valid && !isSamePassword" 
                      type="submit"
                      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer disabled:bg-blue-200 disabled:cursor-not-allowed"
                    >
                    {{"UPDATE_PASSWORD.Submit" | translate}}

                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="flex gap-10">
    <button
      class="bg-sienna-500 hover:bg-sienna-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
      routerLink=""
    >
      {{"UPDATE_PASSWORD.Back" | translate}}
    </button>
  </div>
</div>
