<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md mx-auto mt-6">
  <div class="text-center mb-6">
    <h1 class="text-2xl font-bold text-york-500">¡Pedido Confirmado!</h1>
    <p class="mt-2 text-gray-600">
      Gracias por tu compra. Tu pedido ha sido recibido y está en proceso.
    </p>
  </div>
  <div class="border-t border-gray-200 py-4">
    <h2 class="text-lg font-semibold text-gray-700">Detalles del Pedido</h2>
    <div class="mt-4">
      <div class="flex justify-between text-gray-600">
        <span>ID de Transaccion:</span>
        <span>{{ transactionData.id }}</span>
      </div>
      <div class="flex justify-between text-gray-600 mt-2">
        <span>Fecha:</span>
        <span>{{ transactionData.create_time | date : "dd/MM/yyyy" }}</span>
      </div>
      <div class="flex justify-between text-gray-600 mt-2">
        <span>Total:</span>
        <span>{{ transactionData.purchase_units[0].amount.value }}</span>
      </div>
    </div>
  </div>
  <div class="mt-6 text-center">
    <button
      (click)="onNavigate()"
      class="bg-york-500 text-white px-4 py-2 rounded hover:bg-york-600 focus:outline-none focus:ring-2 focus:ring-york-500 focus:ring-opacity-50"
    >
      Home
    </button>
  </div>
</div>
