$colorgeneral: #D4A373;
$colorperros: #d5bdaf;
$colorpadres: #CCD5AE;

$colorsecundario: #FEFAE0;
$colorterciario: #E9EDC9;



$raw-sienna-50: #faf5f0;
$raw-sienna-100: #f2e2d3;
$raw-sienna-200: #e3c2a4;
$raw-sienna-300: #d59f74;
$raw-sienna-400: #c87e4c;
$raw-sienna-500: #c06740;
$raw-sienna-600: #a94f36;
$raw-sienna-700: #8d3a30;
$raw-sienna-800: #74302c;
$raw-sienna-900: #602a27;
$raw-sienna-950: #361412;

